<a href="https://colab.research.google.com/github/Sinchiguano/ai2023_2/blob/main/basicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,13,3):
  print('the number is {}'.format(i))

the number is 1
the number is 4
the number is 7
the number is 10

In [ ]:
i=0
while i < 10:
  print(f'the number is {i}')
  i=i+1

the number is 0
the number is 1
the number is 2
the number is 3
the number is 4
the number is 5
the number is 6
the number is 7
the number is 8
the number is 9

In [ ]:
for i in range(1,10):
  if i %2==0:
    print('even number is {}'.format(i))

even number is 2
even number is 4
even number is 6
even number is 8

In [ ]:
def my_abs_value(val):
  if val < 0:
    return 0-val
  return val

my_number=-23
print(my_abs_value(my_number))

23

In [ ]:
def inc_value(val):
  val=val+1

x=7
print(inc_value(x))
print(x)

None
7

In [ ]:
def swap_values(value_1,value_2):
  tmp=value_1
  value_1=value_2
  value_2=tmp
  return value_1,value_2


x=3
y=8
print('The new value of (x,y) {} '.format((x,y)))
print('The new value of (x,y) {} '.format(swap_values(x,y)))

The new value of (x,y) (3, 8)
The new value of (x,y) (8, 3)

In [6]:

#val=0
def my_abs_value(val):
  global value
  if val<0:
    value =0-val
    return value

print(my_abs_value(-3))

print(value)

3
3