<a href="https://colab.research.google.com/github/Sinchiguano/ai2023_2/blob/main/basicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
KeyboardInterrupt
>>>
KeyboardInterrupt
>>> ^C

In [ ]:
myVariable_1=4
myVariable_2=6

print(myVariable_1+myVariable_2)
print(myVariable_1-myVariable_2)
print(myVariable_1*myVariable_2)
print(myVariable_1**myVariable_2)
print(myVariable_1/myVariable_2)

10
-2
24
4096
0.6666666666666666

In [ ]:
aux1=True
aux2=False

print(aux1 and aux2)

print(aux1 or aux2)
print(not aux1)

False
True
False

In [ ]:
myNameIs='Cesar Sinchiguano'
print(myNameIs)

print(myNameIs.upper())
print(myNameIs.lower())

Cesar Sinchiguano
CESAR SINCHIGUANO
cesar sinchiguano

In [ ]:
tmp='cesar; carlos; santiago'
print(tmp)
print(tmp.split(';'))

cesar; carlos; santiago
['cesar', ' carlos', ' santiago']

In [ ]:
scholarList=['notebook','pen','ruler','eraser','pencil']
print(scholarList)
scholarList.append('computer')
print(scholarList)
#print(scholarList[3])
#scholarList.pop(3)
del scholarList[3]
print(scholarList)

['notebook', 'pen', 'ruler', 'eraser', 'pencil']
['notebook', 'pen', 'ruler', 'eraser', 'pencil', 'computer']
['notebook', 'pen', 'ruler', 'pencil', 'computer']

In [ ]:
myList=list(range(15))
print(myList)
print(myList[4:11])
print(myList[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[4, 5, 6, 7, 8, 9, 10]
14

In [ ]:
#MONDAY 30 APRIL 2023

In [2]:
animals=list()
animals.append('dog')
animals.append('cat')
animals.append('monkey')
animals.append('lion')
print(animals)
#LOOPS
for item in animals:
  print('{} animal is in my list'.format(item))

['dog', 'cat', 'monkey', 'lion']
dog animal is in my list
cat animal is in my list
monkey animal is in my list
lion animal is in my list

In [6]:
for indx, animal in enumerate(animals):
  print('%d %s'%(indx, animal))

0 dog
1 cat
2 monkey
3 lion

In [7]:
for indx, animal in enumerate(animals):
  print('{} {}'.format(indx, animal))

0 dog
1 cat
2 monkey
3 lion

In [37]:
numberList=[1,2,3,4,5,6,7,8,9,10]
print(numberList)
emptyList=list()
for i in numberList:
  emptyList.append(i)

aux=[i**2 for i in range(1,11)]
print(aux)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
numberList1=[ i for i in range(0,10)]
print(numberList1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
squareList=[number**2 for number in numberList1]
print(squareList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
#EVEN NUMBER
evenNumber=[ i for i in range(1,11) if i%2==0]
print(evenNumber)

[2, 4, 6, 8, 10]

In [49]:
# DICTIONARIES
# A DICTIONARY SAVE TWO VALUES KEY AND VALUE PAIRS.
myDictionary={'cat':'cute','dog':'small','lion':'strong'}
print(myDictionary)

print(myDictionary['cat'])
for key in myDictionary:
  # print(key)
  print('The key {}, the value {}'.format(key,myDictionary[key]))

{'cat': 'cute', 'dog': 'small', 'lion': 'strong'}
cute
The key cat, the value cute
The key dog, the value small
The key lion, the value strong

In [50]:

auxValue=()
for animal in myDictionary:
  auxValue=myDictionary[animal]
  print(f'the values is {auxValue} and the key is {animal}')

the values is cute and the key is cat
the values is small and the key is dog
the values is strong and the key is lion

In [52]:
for key in myDictionary:
  print('%s %s'%(key, myDictionary[key]))

cat cute
dog small
lion strong

In [54]:
for key, value in myDictionary.items():
  print(f'key: {key} and value: {value}')

key: cat and value: cute
key: dog and value: small
key: lion and value: strong

In [69]:
#DICTIONARY COMPREHENSIONS
auxDictionary={ i:i**2 for i in range(6) if i%2==0  }
for key, value in auxDictionary.items():
  print('%d:%d'%(key, value))

0:0
2:4
4:16

In [81]:
#SET
# LET YOU SAVE UNIQUE VALUES

mySet={i for i in range(10)}
for item in mySet:
  print(item)

print(2 in mySet)
mySet.add(2)
mySet.add(11)
print(mySet)
mySet.remove(3)
print(mySet)
print(3 in mySet)

0
1
2
3
4
5
6
7
8
9
True
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 11}
False

In [92]:
mySet={i for i in range(10)}
print(mySet)

for i in mySet:
  print(f'{i}')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
0
1
2
3
4
5
6
7
8
9

In [102]:
#TUPLES
# A TUPLE IS AN IMMUTABLE ORDERED LIST OF VALUES
tmp=1,2,3,4,5
aux=(1,2,3,4,5,6,7)
print(tmp)
print(type(tmp))
print(type(aux))
print(len(aux))
position=1,2,3
x,y,z=position
print(f'{x},{y},{z}')

(1, 2, 3, 4, 5)
<class 'tuple'>
<class 'tuple'>
7
1,2,3

In [114]:
#FUNCTIONS
def sign(tmp):
  if tmp<0:
    print('NEGATIVE ')
  else:
    print('POSITIVE ')



import random
myList=[random.choice([1,-1])* i for i in range(1,11)]
for i in myList:
  # print(f'{i}')
  sign(myList[i])

print(random.choice([True,False]))

NEGATIVE
NEGATIVE
POSITIVE
POSITIVE
NEGATIVE
POSITIVE
POSITIVE
POSITIVE
NEGATIVE
NEGATIVE
False

In [117]:
names=['Lucas','Pedro','Juan']



def greetings(name,flag):
  if flag==True:
    print('Hello, {}'.format(name))
  else:
    print('Hello!')


for name in names:
  greetings(name, random.choice([True,False]))

Hello, Lucas
Hello, Pedro
Hello!

In [119]:
#CLASSES
# Because Python is an object-oriented programming (OOP) language, everything in it represents an object.
# Lists, tuples, sets, dictionaries, functions, etc. are all examples of Python objects.

#DEFINING CLASSES IN PYTHON
class myClass:
  'this is a new class'

  pass

print(type(myClass))

# In general, when defining a new class, we also create a new class object
# that contains all the attributes (variables and methods) related to that class.
# To access a class attribute, use the dot (.) operator:
object (instance)

<class 'type'>

In [120]:
class Greeter(object):
  #INSTANCE VARIABLE
  def __init__(self, name):
    self.name=name

  #INSTANCE METHODS
  def greetings(self,loud=False):
    if loud:
      print('HELLO,{}'.format(self.name.upper()))
    else:
      print('Hello, %s'%self.name)


name1=Greeter('César')
name1.greetings()
name1.greetings(True)

Hello, César
HELLO,CÉSAR